<a href="https://github.com/angular-translate/angular-translate/edit/master/docs/content/guide/en/10_storages.ngdoc" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="storages-page"><h2 id="storages">Storages</h2>
<p>We learned much about angular-translate in the last chapters. We know how we can
<a href="#/guide/06_variable-replacement">dynamize our translations</a>. We also learned
<a href="#/guide/07_multi-language">how to add more than one language</a>. But there&#39;s still
a thing which feels kinda silly when opening our web app. Everytime we launch our
app, we have to click that &#39;german&#39; button again and again and again (of course
only if you are a german user - I am!).</p>
<p>So the problem is that our app just can&#39;t remember which language you&#39;ve chosen
the last time you opened it. This chapter shows you how to teach your app
to remember the language users choose.</p>
<h3 id="storages_let-your-app-remember-the-language">Let your app remember the language</h3>
<p>To let you app remember the language users choose, angular-translate comes with a
support for <strong>Storages</strong>. What ever storage you use, angular-translate will save
a language key with a specific identifier in it, so it can ask for it next time
the user launches the app.</p>
<p>angular-translate has built-in support for two storages. <strong>localStorage</strong> and
<strong>cookieStorage</strong>. Whereas localStorage falls back to cookieStorage if it isn&#39;t
supported by the browser the user currently uses. To use one of those storages,
you have to install the corresponding extension package.</p>
<p>Also remember to include angular-cookies.min.js file in your HTML and to add &#39;ngCookies&#39; as dependency.</p>
<pre><code class="lang-js">var module = angular.module(&#39;AppService&#39;, [&#39;pascalprecht.translate&#39;,&#39;ngCookies&#39;]);
</code></pre>
<h3 id="storages_using-cookiestorage">Using cookieStorage</h3>
<p>If you want to use the cookieStorage to store the language over cross http requests,
simply install the cookie storage extension via bower:</p>
<pre><code>$ bower install angular-translate-storage-cookie
</code></pre><p>After that make sure you&#39;ve embeded it in your HTML document. Once it&#39;s embeded
you can use <code>$translateProvider</code> method <code>useCookieStorage()</code> and angular-translate
takes care of the rest.</p>
<pre class="prettyprint linenums">
$translateProvider.useCookieStorage();
</pre>
<p>Is that easy? angular-translate will now store the initial language key in that
storage and will update it accordingly once a user switches the language.</p>
<h3 id="storages_using-localstorage">Using localStorage</h3>
<p>In case you don&#39;t want to use cookieStorage for several reasons, you can use
localStorage to make the same possible. The flow is basically the same. You install
the corresponding extension package and tell <code>$translateProvider</code> to use the
localStorage via <code>useLocalStorage()</code>. And again, angular-translate takes care of
the rest.</p>
<p>Keep in mind that localStorage will fallback to cookieStorage if the browser
doesn&#39;t support localStorage. Therefore you have to provide the cookieStorage
extension as well.</p>
<p>You can install the extension package like this:</p>
<pre><code>$ bower install angular-translate-storage-local
</code></pre><p>Now, inform <code>$translateProvider</code> that you want to use it:</p>
<pre class="prettyprint linenums">
$translateProvider.useLocalStorage();
</pre>
<p>That&#39;s all. Your app now uses a localStorage to remember the user&#39;s language. Let&#39;s
update our app to use localStorage as well!</p>
<h3 id="storages_source">Source</h3>
<div source-edit="myApp" source-edit-deps="angular.js script.js" source-edit-html="index.html-17" source-edit-css="" source-edit-js="script.js-16" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-17" ng-html-wrap-loaded="myApp angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-17">
    
    <div ng-controller="Ctrl">
      <p>{{ 'HEADLINE' | translate }}</p>
      <p>{{ 'PARAGRAPH' | translate }}</p>

      <p translate>PASSED_AS_TEXT</p>
      <p translate="PASSED_AS_ATTRIBUTE"></p>
      <p translate>{{ 'PASSED_AS_INTERPOLATION' }}</p>
      <p translate="{{ 'PASSED_AS_INTERPOLATION' }}"></p>
      <p translate="VARIABLE_REPLACEMENT" translate-values="{ name: 'PascalPrecht' }"></p>

      <button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
      <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-16"></pre>
<script type="text/ng-template" id="script.js-16">
      var translationsEN = {
        HEADLINE: 'What an awesome module!',
        PARAGRAPH: 'Srsly!',
        PASSED_AS_TEXT: 'Hey there! I\'m passed as text value!',
        PASSED_AS_ATTRIBUTE: 'I\'m passed as attribute value, cool ha?',
        PASSED_AS_INTERPOLATION: 'Beginners! I\'m interpolated!',
        VARIABLE_REPLACEMENT: 'Hi {{name}}',
        BUTTON_LANG_DE: 'german',
        BUTTON_LANG_EN: 'english'
      };

      var translationsDE= {
        HEADLINE: 'Was für ein großartiges Modul!',
        PARAGRAPH: 'Ernsthaft!',
        PASSED_AS_TEXT: 'Hey! Ich wurde als text übergeben!',
        PASSED_AS_ATTRIBUTE: 'Ich wurde als Attribut übergeben, cool oder?',
        PASSED_AS_INTERPOLATION: 'Anfänger! Ich bin interpoliert!',
        VARIABLE_REPLACEMENT: 'Hi {{name}}',
        BUTTON_LANG_DE: 'deutsch',
        BUTTON_LANG_EN: 'englisch'
      };

      var app = angular.module('myApp', ['ngCookies', 'pascalprecht.translate']);

      app.config(['$translateProvider', function ($translateProvider) {
        // add translation tables
        $translateProvider.translations('en', translationsEN);
        $translateProvider.translations('de', translationsDE);
        $translateProvider.preferredLanguage('en');
        // remember language
        $translateProvider.useLocalStorage();
      }]);

      app.controller('Ctrl', ['$translate', '$scope', function ($translate, $scope) {

        $scope.changeLanguage = function (langKey) {
          $translate.use(langKey);
        };
      }]);
    </script>
</div>
</div><h3 id="storages_demo">Demo</h3>
<div class="well doc-example-live animate-container" ng-embed-app="myApp" ng-set-html="index.html-17" ng-eval-javascript="script.js-16"></div>
<p>Change the language and refresh the browser! Our app should now remember the last
used language!</p>
<p><br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center></div></div>
