<a href="https://github.com/angular-translate/angular-translate/edit/master/docs/content/guide/fr/11_custom-storages.ngdoc" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="stockages-personnalis-s-page"><h2 id="stockages-personnalisés">Stockages personnalisés</h2>
<p>Si vous avez lu <a href="#/guide/10_storages">Stockages</a>, vous savez comment utiliser
cookiesStorage ou localStorage, pour que votre application se souvienne de la
dernière langue choisie. Si ni localStorage ni cookieStorage correspondent
à vos besoins, vous pouvez simplement construire votre propre service de
stockage et l&#39;utiliser à la place.</p>
<h3 id="stockages-personnalisés_construire-un-service-de-stockage-personnalisé">Construire un service de stockage personnalisé</h3>
<p>Si vous souhaitez utiliser votre propre espace de stockage personnalisé dans votre application,
vous devez créer un service qui doit implémenter des méthodes, ainsi angular-translate pourra les
utiliser. L&#39;interface d&#39;un service de stockage est assez simple. Tout ce que vous avez besoin,
c&#39;est de fournir les méthodes <code>put()</code> et <code>get()</code> sur votre service de stockage personnalisé.</p>
<p>Imaginons que nous voulons utiliser un service de stockage personnalisé au sein de notre exemple d&#39;application.
Nous pouvons facilement l&#39;étendre avec un nouveau service. Nous devons juste nous assurer que nous retournons
un objet avec les méthodes <code>get()</code> et <code>put()</code>. Un service personnalisé pourrait ressembler à ceci :</p>
<pre class="prettyprint linenums">
app.factory('customStorage', function () {
  return {
    put: function (name, value) {
      // stocke `value` sous `name`
    },
    get: function (name) {
      // récupère la valeur de `name`
    }
  };
});
</pre>
<p>Facile, non ? Comme vous pouvez le voir, <code>put()</code> attend deux arguments. Un nom et une valeur. Donc,
vous travaillez avec de simples paires clé-valeur. De l&#39;autre côté, <code>get()</code> a juste besoin d&#39;un nom
pour demander une valeur. En fournissant un stockage personnalisé comme un service distinct, cela vous
donne une grande flexibilité quand il s&#39;agit d&#39;utiliser ce service dans un endroit différent. En plus
de cela, tester ce service est assez facile, car il est isolé.</p>
<h3 id="stockages-personnalisés_utilisation-du-service-de-stockage-personnalisé">Utilisation du service de stockage personnalisé</h3>
<p>Une fois que vous avez construit votre service de stockage personnalisé, vous devez dire à angular-translate
d&#39;en faire usage. Les méthodes <code>useCookieStorage()</code> et <code>useLocalStorage()</code> de <code>$translateProvider</code>
sont en fait des méthodes raccourcies. Elles utilisent une méthode interne <code>useStorage()</code>.
Vous pouvez également utiliser cette méthode pour faire connaitre à angular-translate
votre service de stockage personnalisé en faisant simplement :</p>
<pre class="prettyprint linenums">
$translateProvider.useStorage('customStorage');
</pre>
<p>angular-translate utilisera <code>$injector</code> pour obtenir une instance du nom de la factory
proposée, qui est dans notre cas <code>customStorage</code>, et il est alors en mesure d&#39;accéder à ses
méthodes à l&#39;exécution pour sauver la dernière langue choisie.</p>
<h3 id="stockages-personnalisés_source">Source</h3>
<div source-edit="monApp" source-edit-deps="angular.js script.js" source-edit-html="index.html-19" source-edit-css="" source-edit-js="script.js-18" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-19" ng-html-wrap-loaded="monApp angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-19">
    
    <div ng-controller="Ctrl">
      <p>{{ 'HEADLINE' | translate }}</p>
      <p>{{ 'PARAGRAPH' | translate }}</p>

      <p translate>PASSED_AS_TEXT</p>
      <p translate="PASSED_AS_ATTRIBUTE"></p>
      <p translate>{{ 'PASSED_AS_INTERPOLATION' }}</p>
      <p translate="{{ 'PASSED_AS_INTERPOLATION' }}"></p>
      <p translate="VARIABLE_REPLACEMENT" translate-values="{ name: 'PascalPrecht' }"></p>

      <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
      <button ng-click="changeLanguage('fr')" translate="BUTTON_LANG_FR"></button>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-18"></pre>
<script type="text/ng-template" id="script.js-18">
      var translationsFR = {
        HEADLINE: 'C\'est un module génial !',
        PARAGRAPH: 'Srsly !',
        PASSED_AS_TEXT: 'Et là ! Je suis passé comme valeur de texte !',
        PASSED_AS_ATTRIBUTE: 'Je suis passé comme une valeur de l\'attribut, cool non ?',
        PASSED_AS_INTERPOLATION: 'Débutants ! Je suis interpolé !',
        VARIABLE_REPLACEMENT: 'Salut {{name}}',
        BUTTON_LANG_FR: 'français',
        BUTTON_LANG_EN: 'anglais'
      };

      var translationsEN= {
        HEADLINE: 'What an awesome module!',
        PARAGRAPH: 'Srsly!',
        PASSED_AS_TEXT: 'Hey there! I\'m passed as text value!',
        PASSED_AS_ATTRIBUTE: 'I\'m passed as attribute value, cool ha?',
        PASSED_AS_INTERPOLATION: 'Beginners! I\'m interpolated!',
        VARIABLE_REPLACEMENT: 'Hi {{name}}',
        BUTTON_LANG_FR: 'french',
        BUTTON_LANG_EN: 'english'
      };

      var app = angular.module('monApp', ['ngCookies', 'pascalprecht.translate']);

      app.config(['$translateProvider', function ($translateProvider) {
        // ajoute la table de traductions
        $translateProvider.translations('fr', translationsFR);
        $translateProvider.translations('en', translationsEN);
        $translateProvider.preferredLanguage('fr');
        // se souvenir de la langue
        $translateProvider.useStorage('customStorage');
      }]);

      app.factory('customStorage', function () {
        return {
          put: function (name, value) {
            // stocke `value` sous `name`
          },
          get: function (name) {
            // récupère la valeur de `name`
          }
        };
      });

      app.controller('Ctrl', ['$translate', '$scope', function ($translate, $scope) {

        $scope.changeLanguage = function (langKey) {
          $translate.use(langKey);
        };
      }]);
    </script>
</div>
</div><h3 id="stockages-personnalisés_demo">Demo</h3>
<div class="well doc-example-live animate-container" ng-embed-app="monApp" ng-set-html="index.html-19" ng-eval-javascript="script.js-18"></div>
<p>Bien sûr, notre service personnalisé ne fait rien, c&#39;est pourquoi lorsque vous actualiserez
le navigateur aussi souvent que vous le souhaitez, l&#39;application ne se souviendra pas de la langue.</p>
<p><br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center></div></div>
