<a href="https://github.com/angular-translate/angular-translate/edit/master/docs/content/guide/fr/17_custom-error-handler.ngdoc" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="gestionnaire-d-erreur-personnalis--page"><h2 id="gestionnaire-derreur-personnalisé">Gestionnaire d&#39;erreur personnalisé</h2>
<p>Bien sûr, vous voulez être en mesure d&#39;utiliser votre propre gestionnaire personnalisé. Outre <code>useMissingTranslationHandlerLog()</code>
il y a une autre méthode appelée <code>useMissingTranslationHandler()</code> qui attend le nom d&#39;une
factory qui retourne votre gestionnaire personnalisé. Alors, à quoi cela ressemble ?</p>
<pre class="prettyprint linenums">
var app = angular.module('myApp', ['pascalprecht.translate'], function ($translateProvider) {
  // Dire à angular-translate d'utiliser votre gestionnaire personnalisé
  $translateProvider.useMissingTranslationHandler('myCustomHandlerFactory');
});

// Définir le gestionnaire personnalisé
app.factory('myCustomHandlerFactory', function (dep1, dep2) {
  // Doit retourner une fonction qui reçoit un ID de traduction
  return function (translationID) {
    // Faire quelque chose avec dep1 et dep2
  };
});

</pre>
<h2 id="utilisation-dun-texte-de-remplacement-par-défaut-en-cas-derreur">Utilisation d&#39;un texte de remplacement par défaut en cas d&#39;erreur</h2>
<p>Quelquefois, vous voulez fournir un texte de remplacement par défaut (pas la clé) pour le frontend pour que
les traducteurs ou même les utilisateurs finaux (bien que c&#39;est une mauvaise idée) puissent voir où ils doivent
faire le necessaire. C&#39;est maintenant possible avec un gestionnaire d&#39;erreur personnalisé légèrement modifié.
Il faut juste retourner une valeur au framework angular-translate au sein du gestionnaire d&#39;erreur.</p>
<pre class="prettyprint linenums">
app.factory('customTranslationHandler', function () {
  return function (translationID, uses) {
    // retourne le texte suivant comme une traduction de 'Resultat' - ceci sera
    // affiché au lieu de la clé de la langue.
    return 'NO DEFAULT KEY';
  };
});
</pre>
<p>Bien sûr, vous pouvez également ajouter l&#39;ID de la traduction à la valeur de retour pour que la personne
qui est en charge des traductions voit la clé d&#39;origine !</p>
<p><br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center></div></div>
