<a href="https://github.com/{{repo}}/edit/master/{{file}}" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="запасні-мови">Запасні мови</h2>
<p>Ви вже можете налаштовувати бажану мову і користуватися підтримкою великої кількості мов. Тепер у
вас може виникнути питання, чи можливо навчити застосунок запасній мові? Відповідь - <strong>так</strong>.</p>
<h3 id="запасні-мови_реєстрація-запасної-мови">Реєстрація запасної мови</h3>
<p>Навчити ваш застосунок запасній мові так само просто, як викликати метод <code>$translateProvider</code>а. Так,
звучить занадто просто, але це дійсно так. Скажімо, в нас є застосунок і ми реєструємо таблицю
перекладів для німецької мови.</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('de', { /* ... */ });
</pre>
<p>Тепер, уявімо, що існують такі ідентифікатори перекладу, що <strong>доступні</strong> в англійській таблиці
перекладів, але відсутні в німецькій. angular-translate у загальному випадку буде повертати даний
ідентифікатор перекладу, якщо він не може знайти для нього переклад в таблиці перекладів. Але, якщо
ви вказали запасну мову, що включає даний ідентифікатор перекладу, angular-translate поверне цей
переклад.</p>
<p>То ж, давайте зробимо англійську запасною мовою для нашого застосунку. Правда, для початку на треба
додати саму мову.</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('de', { /* ... */ })
  .translations('en', { /* ... */ });
</pre>
<p>Тепер ми кажемо angular-translate використовувати англійську мову у якості запасної.</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('de', { /* ... */ })
  .translations('en', { /* ... */ })
  .fallbackLanguage('en');
</pre>
<p>Ось так. Тепер, якщо ідентифікатор перекладу відсутній у німецькій таблиці перекладів,
angular-translate спробує знайти його в англійській. Правда легко?</p>
<h3 id="запасні-мови_реєстрація-стека-запасних-мов">Реєстрація стека запасних мов</h3>
<p>А що як у вас є набір запасних мов? angular-translate може працювати з ними теж! Вам достатньо
вказати запасну мову як масив:</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('de', { /* ... */ })
  .translations('en', { /* ... */ })
  .translations('fr', { /* ... */ })
  .fallbackLanguage(['en', 'fr']);
</pre>
<p>Тепер, якщо angular-translate не зможе знайти ваш ідентифікатор перекладу в таблиці перекладів для
англійської мови (що є першою запасною мовою), він буде проходити інші вказані запасні мови і
дивитися там. Це білет в один кінець, тобто, в даному випадку, ітерація починається з <code>en</code> і
проходить до <code>fr</code>. Ви можете вказати стільки запасних мов, скільки захочете.</p>
<h3 id="запасні-мови_зміна-запасної-мови-під-час-виконання">Зміна запасної мови під час виконання</h3>
<p>Так, навіть <strong>таке</strong> можливо! Бувають випадки, коли вам може знадобитися змінити вашу запасну мову
під час виконання. Або навіть весь стек запасних мов! Наприклад, уявіть випадок, коли ви вказуєте
німецьку бажаною мовою і хочете впевнитися, що англійська є запасною. Без проблем, ми вже вміємо
таке робити. Тепер, уявіть, що мову застосунку змінено на англійську і ви хочете використовувати
французьку у якості запасної, але англійська вже вказана у якості запасної мови.</p>
<p>Ви можете змінити запасну мову під час виконання за допомогою <code>fallbackLanguage()</code> метода сервіса
<code>$translate</code>. Ось як це може виглядати:</p>
<pre class="prettyprint linenums">
$scope.changeLanguage = function (langKey) {
  if (langKey === 'en') {
    $translate.fallbackLanguage('fr');
  } else if (langKey == 'de') {
    $translate.fallbackLanguage('en');
  }
  $translate.use(langKey);
};
</pre>
<p>Не забудьте, що ключ запасної мови є відправною точкою для перегляду запасних мов. Якщо ваша запасна
мова задана як <code>en, fr, de</code> і ви змінюєте запасну мову на <code>fr</code>, то у випадку відсутності
ідентифікатора перекладу, angular-translate буде шукати запасний переклад тільки в <code>de</code>.</p>
<h3 id="запасні-мови_зміна-всього-стека-запасних-мов-під-час-виконання">Зміна всього стека запасних мов під час виконання</h3>
<p>Аналогічно попередньому прикладу ви можете зробити так:</p>
<pre class="prettyprint linenums">
$scope.changeLanguage = function (langKey) {
  $translate.fallbackLanguage(['de', 'en', 'fr']);
  $translate.use(langKey);
};
</pre>
<p>При зміні всього стека запасних мов ви також змінюєте порядок, в якому angular-translate їх
продивляється. Так, власне, процес перегляду залишається таким самим, але ви змінюєте порядок
перегляду запасних мов.</p>
<h3 id="запасні-мови_обмеження-перегляду-запасних-мов">Обмеження перегляду запасних мов</h3>
<p>Додатковою можливістю при перегляді стека запасних мов є обмеження мов, які необхідно продивлятися
на наявність ключів перекладу. В деяких випадках коли користувач хоче продивлятися лише частину
доступних запасних мов без видалення деяких вже оголошених чи завантажених мов. Це теж можливо!
Як вказано вище, перегляд стека запасних мов відбувається &#39;зліва на право&#39;. Так, якщо ми хочемо
почати перегляд після &#39;de&#39; в стеці &#39;de, en, fr&#39;, ми повинні визначити початкову точку перегляду за
допомогою метода &#39;useFallbackLanguage()&#39;.</p>
<pre class="prettyprint linenums">
  // langKey is 'en'
  $scope.changeLanguage = function (langKey) {
  $translate.fallbackLanguage(['de', 'en', 'fr']);
  $translate.useFallbackLanguage(langKey);
};
</pre>
<p>З цього момент всі переклади на &#39;de&#39; будуть ігноруватися і пропускатися.
Важливе зауваження: Якщо мова, що ігнорується, є бажаною або поточною, переклад на цю мову буде
здійснюватися навіть якщо вона має бути пропущена!
<br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center></div></div>
