<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="-translate-page"><h2 id="фильтр-translate">Фильтр translate</h2>
<p>В главе <a href="#/guide/03_using-translate-service">Сервис $translate</a> вы узнали как использовать сервис
<code>$translate</code> для перевода контента с зарегистрированными идентификаторами перевода. Конечно, круто,
что это работает, но вы, скорее всего, не захотите сильно привязывать переводы к контроллерам и
сервисам. В основном вы хотите переводить ваш контент на уровне представления, потому, что именно к
нему это все относится.</p>
<p>angular-translate предоставляет фильтр, с помощью которого вы можете переводить ваши идентификаторы
перевода на уровне представления, не рассказывая о них вашим контроллерам и сервисам. Это значит,
что вы можете выделить логику переводов из контроллера или сервиса и сделать свое представление
заменяемым без изменений в коде бизнес логики.</p>
<h3 id="фильтр-translate_использование">Использование</h3>
<p>Использовать фильтры в Angular достаточно просто. Вы можете прочитать все о фильтрах Angular
<a href="http://docs.angularjs.org/guide/dev_guide.templates.filters.using_filters">тут</a>.</p>
<p>То же относится и к фильтру <code>translate</code> модуля angular-translate. Мы можем обновить наш пример из
главы <a href="#/guide/03_using-translate-service#generalusage">Использование сервиса $translate</a>
перенеся логику из контроллера на уровень представления. В целом, фильтр <code>translate</code> работает так:</p>
<pre><code>&lt;ANY&gt;{{ TRANSLATION_ID | translate }}&lt;/ANY&gt;</code></pre>
<p>Для того, чтобы обновить наш пример, мы откажемся от использования сервиса <code>$translate</code> в
контроллере и добавим логику в представление, используя фильтр <code>translate</code> так:</p>
<pre class="prettyprint linenums">
&lt;h1&gt;{{'HEADLINE' | translate}}&lt;/h1&gt;
&lt;p&gt;{{'PARAGRAPH' | translate}}&lt;/p&gt;
</pre>
<p>Очень просто, да? И, конечно же, вы можете посмотреть работающий пример ниже:</p>
<h3 id="фильтр-translate_source">Source</h3>
<div source-edit="myApp" source-edit-deps="angular.js script.js" source-edit-html="index.html-7" source-edit-css="" source-edit-js="script.js-6" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-7" ng-html-wrap-loaded="myApp angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-7">
    
    <div ng-controller="Ctrl">
      <p>{{ 'HEADLINE' | translate }}</p>
      <p>{{ 'PARAGRAPH' | translate }}</p>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-6"></pre>
<script type="text/ng-template" id="script.js-6">
      var translations = {
        HEADLINE: 'What an awesome module!',
        PARAGRAPH: 'Srsly!'
      };

      var app = angular.module('myApp', ['pascalprecht.translate']);

      app.config(['$translateProvider', function ($translateProvider) {
        // add translation table
        $translateProvider
          .translations('en', translations)
          .preferredLanguage('en');
      }]);

      app.controller('Ctrl', ['$scope', function ($scope) {

      }]);
    </script>
</div>
</div><h3 id="фильтр-translate_demo">Demo</h3>
<div class="well doc-example-live animate-container" ng-embed-app="myApp" ng-set-html="index.html-7" ng-eval-javascript="script.js-6"></div>
<p>Отлично! Теперь вы можете переводить контент на уровне представления не засоряя ваши контроллеры
логикой переводов. Весь процесс перевода отделен от бизнес логики, что делает ваше приложение
гораздо более гибким, если понадобится заменить представление! Следующая глава покажет вам как
добиться того же с помощью директивы <code>translate</code>.</p>
<p><br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center></div></div>
