<a href="https://github.com/angular-translate/angular-translate/edit/master/docs/content/guide/ru/08_fallback-languages.ngdoc" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="запасные-языки">Запасные языки</h2>
<p>Вы уже можете настраивать предпочитаемый язык и использовать поддержку большого количества языков.
Теперь вы можете задаться вопросом, а возможно ли обучить приложение запасному языку? Ответ - 
<strong>да</strong>.</p>
<h3 id="запасные-языки_регистрация-запасного-языка">Регистрация запасного языка</h3>
<p>Обучить ваше приложение запасному языку так же просто, как вызвать метод <code>$translateProvider</code>а. Да,
звучит слишком просто, но это действительно так. Скажем, у нас есть приложение и мы регистрируем
таблицу переводов для немецкого языка.</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('de', { /* ... */ });
</pre>
<p>Теперь, представим, что существуют такие идентификаторы перевода, которые <strong>доступны</strong> в английской
таблице переводов, но отсутствуют в немецкой. angular-translate в общем случае будет возвращать
данный идентификатор перевода, если он не может найти для него перевода в таблице переводов. Но,
если вы указали запасной язык, который включает данный идентификатор перевода, angular-translate
вернет этот перевод.</p>
<p>Итак, давайте сделаем английский запасным языком для нашего приложения. Правда, для начала нам нужно
добавить сам язык.</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('de', { /* ... */ })
  .translations('en', { /* ... */ });
</pre>
<p>Теперь мы говорим angular-translate использовать английский язык в качестве запасного.</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('de', { /* ... */ })
  .translations('en', { /* ... */ })
  .fallbackLanguage('en');
</pre>
<p>Вот так. Теперь, если идентификатор перевода отсутствует в немецкой таблице переводов,
angular-translate попытается найти его в английской. Правда легко?</p>
<h3 id="запасные-языки_регистрация-стека-запасных-языков">Регистрация стека запасных языков</h3>
<p>А что если у вас есть множество запасных языков? angular-translate может работать с ними тоже! Вам
достаточно указать запасной язык как массив:</p>
<pre class="prettyprint linenums">
$translateProvider
  .translations('de', { /* ... */ })
  .translations('en', { /* ... */ })
  .translations('fr', { /* ... */ })
  .fallbackLanguage(['en', 'fr']);
</pre>
<p>Теперь, если angular-translate не сможет найти ваш идентификатор перевода в таблице переводов для
английского языка (который является первым запасным языком), он будет проходить по остальным 
указанным запасным языкам и смотреть там. Это билет в один конец, тоесть, в данном случае, итерация
начинается с <code>en</code> и проходит до <code>fr</code>. Вы можете указать столько запасных языков, сколько захотите.</p>
<h3 id="запасные-языки_смена-запасного-языка-во-время-выполнения">Смена запасного языка во время выполнения</h3>
<p>Ах да, даже <strong>такое</strong> возможно! Бывают случаи, когда вам может понадобиться сменить ваш запасной
язык во время выполнения. Или даже весь стек запасных языков! Например, представьте случай, когда вы
указываете немецкий предпочитаемым языком и хотите убедиться, что английский является запасным. Без
проблем, мы уже умеем такое делать. Теперь, представьте, что язык приложения переключен на
английский и вы хотите использовать французский в качестве запасного, но английский уже указан в
качестве запасного языка.</p>
<p>Вы можете сменить запасной язык во время выполнения при помощи <code>fallbackLanguage()</code> метода сервиса
<code>$translate</code>. Вот как это может выглядеть:</p>
<pre class="prettyprint linenums">
$scope.changeLanguage = function (langKey) {
  if (langKey === 'en') {
    $translate.fallbackLanguage('fr');
  } else if (langKey == 'de') {
    $translate.fallbackLanguage('en');
  }
  $translate.use(langKey);
};
</pre>
<p>Не забудьте, что ключ запасного языка является отправной точкой для просмотра запасных языков. Если
ваш запасной язык задан как <code>en, fr, de</code> и вы меняете запасной язык на <code>fr</code>, то в случае отсутствия
идентификатора перевода, angular-translate будет искать запасной перевод только в <code>de</code>.</p>
<h3 id="запасные-языки_смена-всего-стека-запасных-языков-во-время-выполнения">Смена всего стека запасных языков во время выполнения</h3>
<p>Аналогично предыдущему примеру вы можете сделать так:</p>
<pre class="prettyprint linenums">
$scope.changeLanguage = function (langKey) {
  $translate.fallbackLanguage(['de', 'en', 'fr']);
  $translate.use(langKey);
};
</pre>
<p>При смене всего стека запасных языков вы также меняете порядок, в котором angular-translate их
просматривает. Так, собственно, процесс просмотра остается таким же, но вы меняете порядок просмотра
запасных языков.</p>
<h3 id="запасные-языки_ограничение-просмотра-запасных-языков">Ограничение просмотра запасных языков</h3>
<p>Дополнительной возможностью при просмотре стека запасных языков является ограничение языков, которые
необходимо просматривать на наличие ключей перевода. В некоторых случаях когда пользователь хочет
просматривать только часть доступных запасных языков без удаления некоторых уже объявленных или
загруженных языков. Это тоже возможно!
Как указано выше, просмотр стека запасных языков происходит &#39;слева на право&#39;. Так, если мы хотим
начать просмотр после &#39;de&#39; в стеке &#39;de, en, fr&#39;, мы должны определить начальную точку просмотра
при помощи метода &#39;useFallbackLanguage()&#39;.</p>
<pre class="prettyprint linenums">
  // langKey is 'en'
  $scope.changeLanguage = function (langKey) {
  $translate.fallbackLanguage(['de', 'en', 'fr']);
  $translate.useFallbackLanguage(langKey);
};
</pre>
<p>С этого момента все переводы на &#39;de&#39; будут игнорироваться и пропускаться.
Важное замечание: Если игнорируемый язык является предпочитаемым или текущим, перевод на этот язык
будет происходить даже если он должен быть пропущен!
<br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center></div></div>
