<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="пользовательские-загрузчики">Пользовательские загрузчики</h2>
<p>angular-translate не был бы angular-translate, если бы не давал возможности создавать собственные
пользовательские загрузчики. В главе <a href="#/guide/10_asynchronous-loading">Асинхронная загрузка</a> вы
узнали как использовать предоставленные загрузчики для асинхронной загрузки переводов с сервера,
используя определенные шаблоны.</p>
<p>Однако, в некоторых случаях этого недостаточно. Возможно, вы захотите использовать совершенно другое
место для хранения переводов и даже не захотите загружать их с удаленного сервера. Тут в игру
вступают пользовательские загрузчики. Вы можете создавать собственные загрузчики очень просто и
данная глава покажет, как это сделать!</p>
<h3 id="пользовательские-загрузчики_создание-пользовательского-сервиса-загрузки">Создание пользовательского сервиса загрузки</h3>
<p>Если ни один из предоставленных загрузчиков не удовлетворяет вашим потребностям, то вы можете
зарегистрировать пользовательский асинхронных загрузчик в виде фабрики. Она должна возвращать
функцию принимающую объект, содержащий в себе, как минимум, свойство с ключом языка. С такой
архитектурой вы максимально свободны и имеете полный контроль над поведением своего асинхронного
загрузчика.</p>
<p>Фабрика пользовательского загрузчика может выглядеть так:</p>
<pre class="prettyprint linenums">
app.factory('customLoader', function ($http, $q) {
    // return loaderFn
    return function (options) {
        var deferred = $q.defer();
        // do something with $http, $q and key to load localization files

        var data = {
            'TEXT': 'Fooooo'
        };

        // resolve with translation data
        return deferred.resolve(data);
        // or reject with language key
        return deferred.reject(options.key);
    };
});
</pre>
<p>Вы должны убедиться, что ваша функция-загрузчик возвращает обещание. Также, оно должно быть
разрешено (resolved) с данными перевода, или отклонено (rejected) с ключом языка. Как видите,
в объекте <code>options</code> есть свойство <code>key</code>. Оно содержит ключ языка для которого был вызван асинхронный
загрузчик.</p>
<h3 id="пользовательские-загрузчики_использование-пользовательского-загрузчика">Использование пользовательского загрузчика</h3>
<p>Вы знаете, что <code>$translateProvider</code> предоставляет методы вроде <code>useStaticFilesLoader()</code> или
<code>useUrlLoader()</code>. Оба они используют метод <code>useLoader()</code> для регистрации фабрики загрузчика, которая
впоследствии будет вызвана <code>$injector</code>&#39;ом. Вы можете использовать тот же метод для своего
собственного сервиса. Таким образом, для регистрации пользовательского сервиса просто напишите:</p>
<pre class="prettyprint linenums">
$translateProvider.useLoader('customLoader');
</pre>
<p>angular-translate обратится к фабрике пользовательского загрузчика при помощи сервиса <code>$injector</code> и
сделает для вас остальное.</p>
<h3 id="пользовательские-загрузчики_добавление-дополнительных-свойств">Добавление дополнительных свойств</h3>
<p>Свойство <code>options.key</code> отображает, что <code>options</code> - это просто объект. При необходимости, вы можете
расширить его дополнительными свойствами. Например, может потребоваться наличие у объекта <code>options</code>
свойства <code>foo</code>. Все, что нужно сделать в этом случае - предоставить это свойство при регистрации
фабрики пользовательского загрузчика.</p>
<p>Итак, если нам необходимо свойство <code>foo</code> со значением <code>bar</code>, то можно передать его так:</p>
<pre class="prettyprint linenums">
$translateProvider.useLoader('customLoader', { foo: 'bar' });
</pre>
<p>После этого, в фабрике загрузчика вы можете получить к нему доступ через <code>options.foo</code>. Не нужно
беспокоиться про <code>options.key</code>, потому что его добавляет сам angular-translate прежде, чем вызвать
загрузчик.</p>
<p>Чтобы показать как это работает, давайте добавим поддержку пользовательского загрузчика в наше
учебное приложение! Сначала мы создаем загрузчик:</p>
<pre class="prettyprint linenums">
app.factory('asyncLoader', function ($q, $timeout) {

  return function (options) {
    var deferred = $q.defer(),
        translations;

    if (options.key === 'en') {
      translations = {
        HEADLINE: 'What an awesome module!',
        PARAGRAPH: 'Srsly!',
        PASSED_AS_TEXT: 'Hey there! I\'m passed as text value!',
        PASSED_AS_ATTRIBUTE: 'I\'m passed as attribute value, cool ha?',
        PASSED_AS_INTERPOLATION: 'Beginners! I\'m interpolated!',
        VARIABLE_REPLACEMENT: 'Hi {{name}}',
        BUTTON_LANG_DE: 'german',
        BUTTON_LANG_EN: 'english'
      };
    } else {
      translations = {
        HEADLINE: 'Was für ein großartiges Modul!',
        PARAGRAPH: 'Ernsthaft!',
        PASSED_AS_TEXT: 'Hey! Ich wurde als text übergeben!',
        PASSED_AS_ATTRIBUTE: 'Ich wurde als Attribut übergeben, cool oder?',
        PASSED_AS_INTERPOLATION: 'Anfänger! Ich bin interpoliert!',
        VARIABLE_REPLACEMENT: 'Hi {{name}}',
        BUTTON_LANG_DE: 'deutsch',
        BUTTON_LANG_EN: 'englisch'
      };
    }

    $timeout(function () {
      deferred.resolve(translations);
    }, 2000);

    return deferred.promise;
  };
});
</pre>
<p>Но что же он делает? Он использует сервис <code>$timeout</code> для того, чтобы подождать две секунды и,
в зависимости от ключа языка, разрешает наше обещание с английской или немецкой таблицей переводов.
Теперь вызовем <code>$translateProvider.useLoader()</code> для ее использования:</p>
<pre class="prettyprint linenums">
$translateProvider.useLoader('asyncLoader');
</pre>
<p>Легко! Вот наше работающее приложение с пользовательским загрузчиком!</p>
<h3 id="пользовательские-загрузчики_source">Source</h3>
<div source-edit="myApp" source-edit-deps="angular.js script.js" source-edit-html="index.html-21" source-edit-css="" source-edit-js="script.js-20" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html-21" ng-html-wrap-loaded="myApp angular.js script.js"></pre>
<script type="text/ng-template" id="index.html-21">
    
    <div ng-controller="Ctrl">
      <p>{{ 'HEADLINE' | translate }}</p>
      <p>{{ 'PARAGRAPH' | translate }}</p>

      <p translate>PASSED_AS_TEXT</p>
      <p translate="PASSED_AS_ATTRIBUTE"></p>
      <p translate>{{ 'PASSED_AS_INTERPOLATION' }}</p>
      <p translate="{{ 'PASSED_AS_INTERPOLATION' }}"></p>
      <p translate="VARIABLE_REPLACEMENT" translate-values="{ name: 'PascalPrecht' }"></p>

      <button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
      <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
    </div>
  </script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js-20"></pre>
<script type="text/ng-template" id="script.js-20">
      var app = angular.module('myApp', ['ngCookies', 'pascalprecht.translate']);

      app.config(['$translateProvider', function ($translateProvider) {
        $translateProvider.preferredLanguage('en');
        $translateProvider.useLoader('asyncLoader');
      }]);

      app.factory('asyncLoader', function ($q, $timeout) {

        return function (options) {
          var deferred = $q.defer(),
              translations;

          if (options.key === 'en') {
            translations = {
              HEADLINE: 'What an awesome module!',
              PARAGRAPH: 'Srsly!',
              PASSED_AS_TEXT: 'Hey there! I\'m passed as text value!',
              PASSED_AS_ATTRIBUTE: 'I\'m passed as attribute value, cool ha?',
              PASSED_AS_INTERPOLATION: 'Beginners! I\'m interpolated!',
              VARIABLE_REPLACEMENT: 'Hi {{name}}',
              BUTTON_LANG_DE: 'german',
              BUTTON_LANG_EN: 'english'
            };
          } else {
            translations = {
              HEADLINE: 'Was für ein großartiges Modul!',
              PARAGRAPH: 'Ernsthaft!',
              PASSED_AS_TEXT: 'Hey! Ich wurde als text übergeben!',
              PASSED_AS_ATTRIBUTE: 'Ich wurde als Attribut übergeben, cool oder?',
              PASSED_AS_INTERPOLATION: 'Anfänger! Ich bin interpoliert!',
              VARIABLE_REPLACEMENT: 'Hi {{name}}',
              BUTTON_LANG_DE: 'deutsch',
              BUTTON_LANG_EN: 'englisch'
            };
          }

          $timeout(function () {
            deferred.resolve(translations);
          }, 2000);

          return deferred.promise;
        };
      });

      app.controller('Ctrl', ['$translate', '$scope', function ($translate, $scope) {

        $scope.changeLanguage = function (langKey) {
          $translate.use(langKey);
        };
      }]);
    </script>
</div>
</div><h3 id="пользовательские-загрузчики_demo">Demo</h3>
<div class="well doc-example-live animate-container" ng-embed-app="myApp" ng-set-html="index.html-21" ng-eval-javascript="script.js-20"></div>
<p>При изменении языка нажатием на кнопку <code>german</code>, приложение ждет 2 секунды пока обещание не будет
разрешено с новыми данными переводов. Как вам такое?</p>
<p><br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center></div></div>
