<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="--page"><h2 id="события">События</h2>
<p>angular-translate порождает в <code>$rootScope</code> специальные события, которые вы сможете обработать как 
только они будут вызваны. Пожалуйста, убедитесь в том, что вы слушаете эти события на <code>$rootScope</code>!
Эти события невозможно слушать на <code>$scope</code> поскольку они вызываются только на уровне <code>$rootScope</code>,
чтобы создать шину событий (event bus) приложения с лучшей производительностью.</p>
<p>В этом документе описываются различные события и когда они происходят.</p>
<h3 id="события_базовые-события">Базовые события</h3>
<p>Некоторые события происходят не зависимо от того, как вы настроите angular-translate. Вы можете 
рассчитывать на то, что они вызываются всегда.</p>
<p><strong><code>$translateChangeStart</code></strong></p>
<p>Вызывается когда angular-translate начинает попытку смены языка. Это происходит при запуске, когда
язык устанавливается впервые, или при смене язык во время выполнения при помощи <code>$translate.use()</code>.
Это событие вызывается также если angular-translate необходимо вначале загрузить данные асинхронно.</p>
<p><strong><code>$translateChangeSuccess</code></strong></p>
<p>Как говорится в названии события, оно вызывается когда только смена языка произошла успешно. Это 
событие вызывается после того, как асинхронный загрузчик загрузил данные перевода. Если же загрузчик
не используется, оно обычно вызывается сразу после события <code>$translateChangeStart</code>.</p>
<p><strong><code>$translateChangeError</code></strong></p>
<p>Вызывается когда смена языка завершилась неудачей. Такое возможно только когда асинхронный загрузчик
отклоняет (rejects) данное обещание (promise).</p>
<p><strong><code>$translateChangeEnd</code></strong></p>
<p>Вызывается всегда при завершении смены языка, не важно успешна она или нет, после того, как все 
зарегистрированные сервисы интерполяции были оповещены о смене языка.</p>
<h3 id="события_события-асинхронной-загрузки">События асинхронной загрузки</h3>
<p>Здесь приведены события, которые порождаются только при использовании асинхронного загрузчика.</p>
<p><strong><code>$translateLoadingStart</code></strong></p>
<p>Как говорится в названии события, оно порождается когда вызывается асинхронный загрузчик, как раз
после события <code>$translateChangeStart</code>.</p>
<p><strong><code>$translateLoadingSuccess</code></strong></p>
<p>Вызывается когда асинхронный загрузчик возвращает разрешенное обещание (resolved promise).</p>
<p><strong><code>$translateLoadingError</code></strong></p>
<p>Вызывается когда асинхронный загрузчик возвращает отклоненное обещание (rejected promise).</p>
<p><strong><code>$translateLoadingEnd</code></strong></p>
<p>Вызывается когда асинхронный загрузчик вернул разрешенное или отклоненное обещание. В случае, если
загрузчик вернул разрешенное обещание, событие порождается после обновления таблицы переводов.</p>
<p><strong><code>$translatePartialLoaderStructureChanged</code></strong></p>
<p>Вызывается при изменении &quot;структуры&quot; <code>$translatePartialLoader</code> с использованием любого из <code>*Part()</code>
методов.</p>
</div></div>
