<a href="https://github.com/{{repo}}/edit/master/{{file}}" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="konzeptionelle-bersicht-page"><h2 id="konzeptionelle-übersicht">Konzeptionelle Übersicht</h2>
<p>Die folgende Abbildung zeigt den abstrakten Zusammenbau von <code>angular-translate</code>
und beschreibt, wie die einzelnen Komponenten zusammen hängen.</p>
<p><img class="pull-right" style="padding-left: 3em;" src="img/guide/conceptual_overview.png"></p>
<h3 id="konzeptionelle-übersicht_the-nitty-gritty">The nitty-gritty</h3>
<p>Wie man sehen kann, bietet <code>angular-translate</code> eine Direktive und einen Filter als
Komponente, die man benutzen kann um seine Inhalte zu übersetzen. Die Direktive
befindet sich über dem Filter weil sie internvon diesem gebrauch macht.</p>
<p>In der nächsten Schicht wird es etwas interessanter. Beide, die Direktive und der
Filter benutzen den <code>$translate</code>- Service. Was bedeutet, wenn du deine Inhalte
mit der Direktive übersetzt, benutzt du eigentlich den Filter der wiederum den
Service benutzt. Das bedeutet auch, dass du deine Inhalte nicht nur im View-Layer,
sondern auch im Business-Logic-Layer (wie zum Beispiel im Controller), übersetzen
kannst.</p>
<p>Innerhalb vom <code>$translate</code>- Service befinden sich einige Subkomponenten, die benutzt
werden um Inhalte zu übersetzen. Wir gehen später genauer darauf ein, aber es ist
trotzdem hilfreich schon mal einen Überblick zu bekommen.</p>
<h3 id="konzeptionelle-übersicht_interpolation-services">Interpolation-Services</h3>
<p>Die rechte Box zeigt die möglichen Interpolation-Services, die <code>$translate</code>- Service
benutzt um deine Übersetzungen gegen dynamische Werte zu interpolieren. Wenn du
jetzt nicht nicht verstehst was das bedeutet - kein Problem! Wir gehen später
tiefer darauf ein. Wie dem auch sei. Interpolation-Services sind vom Core entkoppelt,
was bedeutet, du kannst sie als extra Packages installieren.</p>
<p>Interpolation-Services beeinflussen die Syntax die du in deinen Übersetzungen
verwenden musst. Der standard Interpolation-Service benutzt einfach Angular&#39;s
eigenen <code>$interpolate</code>- Service. Wenn du also weißt, gegen welche Syntax <code>$interpolate</code>-
Service interpoliert, musst du eigentlich nichts neues lernen. Der <strong>MessageFormat</strong>-
Interpolation-Services allerdings, nutzt eine andere Syntax. Darauf gehen wir
aber später noch genauer ein.</p>
<h3 id="konzeptionelle-übersicht_missing-translation-handlers">Missing translation handlers</h3>
<p>Die linke Box zeigt mitgelieferte <code>missingTranslationHandler</code>. Diese werden ausgeführt
wenn <code>$translate</code>- Service versucht eine Translation Id zu übersetzen, es aber keine
korrenspondierende Übersetzung gibt. Wenn du nicht willst, musst du keinen Handler
verwenden. Falls doch, <code>angular-translate</code> kommt mit einem Log-Services, der sich
ganz einfach via Bower installieren lässt. Wenn das nicht ausreicht, kann man auch
seine eigenen Handler implementieren.</p>
<h3 id="konzeptionelle-übersicht_asynchronous-loader">Asynchronous loader</h3>
<p>Selbstverständlich möchtest du in der Lage sein, deine Übersetzungsdaten
asynchron nachzuladen um deine App schneller zu machen. <code>angular-translate</code>
bietet Unterstützung für sogenannte <code>Asynchronous Loader</code>, die sehr einfach
zu benutzen sind. Es gibt zwei solcher Loader, der <code>urlLoader</code> und der <code>staticFilesLoader</code>.
Beide lösen jeweils ein spezifisches Problem wenn es zum asynchronen Nachladen von
Übersetzungsdaten kommt. Auch hier gilt, wenn keiner dieser Loader deinen
Anforderungen entspricht, kannst du ganz einfach deine eigenen implementieren.</p>
<h3 id="konzeptionelle-übersicht_storage">Storage</h3>
<p>Da es sehr üblich ist, dass sich eine App merkt, welche Sprache von einem Benutzer
gewählt wurde, sodass er beim nächsten Aufruf der App die gleiche Sprache bekommt,
gibt es sogenannte <code>Storages</code>. <code>angular-translate</code> erlaubt dir jeden nur möglichen
Storage zu werden. Das Modul überprüft ob es einen Storage gibt und wenn ja
sucht es nach einem bestimmten Identifier der wiederum den Wert eines Sprachschlüssels
enthält, anhand dessen <code>angular-translate</code> dann die Sprache setzen kann.</p>
<p><code>angular-translate</code> kommt mit LocalStorage und Cookie Storage unterstützung.
Auch hier ist es möglich einen Storage-Service zu entwickeln, der über die Funktionalität
der beiden genannten hinaus geht.</p>
<p>Jetzt hast du einen kleine Überblick darüber bekommen, wie <code>angular-translate</code>
strukturiert ist und welche Features und Komponenten es mit sich bringt. Im nächsten
Kapitel lernst du, wie du mit <code>angular-translate</code> durchstarten kannst.</p>
<p><br></p>
<p><hr></p>
<center>Made with unicorn &hearts; love by <a href="http://github.com/PascalPrecht">PascalPrecht</a></center></div></div>
